<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>OfficeOff</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/groups/3/action</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;on&quot;: false}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/sensors/3/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;status&quot;: 0}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>OfficeLow</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/groups/3/action</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;scene&quot;: &quot;26-yF8hi5YTBqWf&quot;}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/sensors/3/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;status&quot;: 1}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>OfficeHigh</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/groups/3/action</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;scene&quot;: &quot;kqWt-JwT75ARO8X&quot;}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/sensors/3/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;status&quot;: 2}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>OfficeNightLight</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/groups/3/action</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;scene&quot;: &quot;aiWKZDtiH7x0liW&quot;}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/sensors/3/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;status&quot;: 0}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>NightLightOn</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/lights/4/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;on&quot;: true, &quot;bri&quot;: 76}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/lights/5/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;on&quot;: true, &quot;bri&quot;: 76}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>key</key>
		<string>NightLightOff</string>
		<key>calls</key>
		<array>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/lights/4/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;on&quot;: false}</string>
			</dict>
			<dict>
				<key>host</key>
				<string>192.168.0.10</string>
				<key>userName</key>
				<string>98B7jfku9NJ9-Bmltd9bhJNIyhOIQbp075EPPmke</string>
				<key>address</key>
				<string>/lights/5/state</string>
				<key>httpMethod</key>
				<string>PUT</string>
				<key>httpBody</key>
				<string>{&quot;on&quot;: false}</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
